<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    	<div class="container">
	        <a class="brand" href="#">Energon</a>
	        <ul class="nav">
	        	<li class="html"><a href="/html">HTML</a></li>
	            <li class="css"><a href="/css">css</a></li>
	            <li class="js"><a href="/js">js</a></li>
	        </ul>
        </div>
    </div>
</div>