                  <article id="ui-html-encode" class="mod-doc">
                    <header>
                        <h1 class="title">HTML转义成特殊字符</h1>
                    </header>
                    <div class="content">
                      <div style="width:600px;margin:20px auto">
                        <textarea rows="30" cols="20" style="width:600px;height:200px;" id="J_Primary"></textarea>
                        <div style="padding:15px 0;margin:0 auto;text-align:center;">
                          <span class="e-btn" id="J_BtnEncode">HTML转义成特殊字符</span>
                          <span class="e-btn" id="J_BtnDecode">特殊字符转义成HTML</span>
                        </div>
                        <textarea rows="30" cols="20" style="width:600px;height:200px;" id="J_Result"></textarea>
                      </div>
                    </div>
                  </article>