                  <article id="ui-alert-box" class="mod-doc">
                    <header>
                        <h1 class="title">ui-alert-box:提醒警告框样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                为用户提供告警信息。
                            </div>
                        </section>
                        <section class="how-crosswise">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-alert-box&nbsp;e-alert-info&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-header&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&nbsp;class=&quot;e-cell-title&quot;&gt;信息&lt;/h3&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;e-cell-close-btn&quot;&nbsp;href=&quot;#&quot;&gt;&lt;/a&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-content&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&lt;/div&gt;</pre>
                                <div class="demo">
                                    <div class="e-alert-box e-alert-info">
                                        <div class="e-cell-header">
                                            <h3 class="e-cell-title">信息</h3>
                                            <a class="e-cell-close-btn e-iconfont" title="关闭" href="#">&#223;</a>
                                        </div>
                                        <div class="e-cell-content">
                                            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-alert-box&nbsp;e-alert-success&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-header&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&nbsp;class=&quot;e-cell-title&quot;&gt;成功&lt;/h3&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;e-cell-close-btn&quot;&nbsp;href=&quot;#&quot;&gt;&lt;/a&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-content&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&lt;/div&gt;</pre>
                                <div class="demo">
                                    <div class="e-alert-box e-alert-success">
                                        <div class="e-cell-header">
                                            <h3 class="e-cell-title">成功</h3>
                                            <a class="e-cell-close-btn e-iconfont" title="关闭" href="#">&#223;</a>
                                        </div>
                                        <div class="e-cell-content">
                                            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-alert-box&nbsp;e-alert-warning&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-header&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&nbsp;class=&quot;e-cell-title&quot;&gt;警告&lt;/h3&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;e-cell-close-btn&quot;&nbsp;href=&quot;#&quot;&gt;&lt;/a&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-content&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&lt;/div&gt;</pre>
                                <div class="demo">
                                    <div class="e-alert-box e-alert-warning">
                                        <div class="e-cell-header">
                                            <h3 class="e-cell-title">警告</h3>
                                            <a class="e-cell-close-btn e-iconfont" title="关闭" href="#">&#223;</a>
                                        </div>
                                        <div class="e-cell-content">
                                            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-alert-box&nbsp;e-alert-error&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-header&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&nbsp;class=&quot;e-cell-title&quot;&gt;错误&lt;/h3&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;class=&quot;e-cell-close-btn&quot;&nbsp;href=&quot;#&quot;&gt;&lt;/a&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;e-cell-content&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&lt;/div&gt;</pre>
                                <div class="demo">
                                    <div class="e-alert-box e-alert-error">
                                        <div class="e-cell-header">
                                            <h3 class="e-cell-title">错误</h3>
                                            <a class="e-cell-close-btn e-iconfont" title="关闭" href="#">&#223;</a>
                                        </div>
                                        <div class="e-cell-content">
                                            我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                  </article>