                  <article id="ui-button" class="mod-doc">
                    <header>
                        <h1 class="title">ui-button:按钮样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                按钮的基本样式。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">类别</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
//普通
&lt;button class=&quot;e-btn&quot; type=&quot;button&quot;&gt;普通&lt;/button&gt;
//突显
&lt;button class=&quot;e-btn e-btn-primary&quot; type=&quot;button&quot;&gt;突显&lt;/button&gt;
//成功
&lt;button class=&quot;e-btn e-btn-success&quot; type=&quot;button&quot;&gt;成功&lt;/button&gt;
//警告
&lt;button class=&quot;e-btn e-btn-warning&quot; type=&quot;button&quot;&gt;警告&lt;/button&gt;
//危险
&lt;button class=&quot;e-btn e-btn-danger&quot; type=&quot;button&quot;&gt;危险&lt;/button&gt;
//链接
&lt;button class=&quot;e-btn e-btn-link&quot; type=&quot;button&quot;&gt;链接&lt;/button&gt;
//冻结
&lt;button disabled=&quot;disabled&quot; class=&quot;e-btn&quot; type=&quot;button&quot;&gt;冻结&lt;/button&gt;</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <button class="e-btn" type="button">普通</button>
                                <button class="e-btn e-btn-primary" type="button">突显</button>
                                <button class="e-btn e-btn-success" type="button">成功</button>
                                <button class="e-btn e-btn-warning" type="button">警告</button>
                                <button class="e-btn e-btn-danger" type="button">危险</button>
                                <button class="e-btn e-btn-link" type="button">链接</button>
                                <button disabled="disabled" class="e-btn" type="button">冻结</button>
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">尺寸</h2>
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;button class=&quot;e-btn e-btn-small&quot; type=&quot;button&quot;&gt;小巧&lt;/button&gt;
&lt;button class=&quot;e-btn&quot; type=&quot;button&quot;&gt;普通&lt;/button&gt;
&lt;button class=&quot;e-btn e-btn-large&quot; type=&quot;button&quot;&gt;大个&lt;/button&gt;
&lt;button class=&quot;e-btn e-btn-huge&quot; type=&quot;button&quot;&gt;巨大&lt;/button&gt;</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <button class="e-btn e-btn-small" type="button">小巧</button>
                                <button class="e-btn" type="button">普通</button>
                                <button class="e-btn e-btn-large" type="button">大个</button>
                                <button class="e-btn e-btn-huge" type="button">巨大</button>
                            </div>
                        </section>
                    </div>
                  </article>