                  <article id="ui-dialog" class="mod-doc">
                    <header>
                        <h1 class="title">ui-dialog:弹出层样式</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                弹出层的基本样式。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>   
                            <div class="cell-content">
                                <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-dialog&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;header&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;h2&nbsp;class=&quot;title&quot;&gt;弹出层标题&lt;/h2&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&nbsp;title=&quot;关闭&quot;&nbsp;class=&quot;dialog-close-btn&quot;&gt;×&lt;/span&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/header&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;class=&quot;content&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弹出层内容<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;footer&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;type=&quot;button&quot;&nbsp;value=&quot;确&nbsp;定&quot;&nbsp;class=&quot;e-btn&nbsp;e-btn-primary&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;type=&quot;button&quot;&nbsp;value=&quot;取&nbsp;消&quot;&nbsp;class=&quot;e-btn&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/footer&gt;<br />&lt;/div&gt;<br />
                                </pre>
                            </div>
                        </section>
                        <section class="demo">
                          <div class="uplayer-demo-panel">
                            <div class="e-dialog" style="margin:5px auto">
                              <header>
                                <h2 class="title">弹出层标题</h2>
                                <span title="关闭" class="dialog-close-btn">×</span>
                              </header>
                              <div class="content">
                                弹出层内容
                              </div>
                              <footer>
                                  <input type="button" value="确 定" class="e-btn e-btn-primary">
                                  <input type="button" value="取 消" class="e-btn">
                              </footer>
                            </div>
                          </div>
                        </section>
                      <section class="how">
                        <h2 class="cell-title">尺寸</h2>
                        <div class="cell-content">
                          <pre class="sh_html">
&lt;div&nbsp;class=&quot;e-dialog&nbsp;e-dialog-small&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;这个是小尺寸弹出层，宽度为400px<br />&lt;/div&gt;<br />&lt;div&nbsp;class=&quot;e-dialog&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;这个是中尺寸弹出层，宽度为600px<br />&lt;/div&gt;<br />&lt;div&nbsp;class=&quot;e-dialog&nbsp;e-dialog-large&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;这个是大尺寸弹出层，宽度为700px<br />&lt;/div&gt;
                          </pre>
                        </div>
                      </section>
                    </div>
                  </article>