<article id="ui-tab" class="mod-doc tab-demo">
  <header>
    <h1 class="title">ui-tab:选项卡样式</h1>
  </header>
  <div class="content">
    <section class="overview">
      <h2 class="cell-title">介绍</h2>
      <div class="cell-content">
        选项卡的基本样式。
      </div>
    </section>
    <section class="how">
      <h2 class="cell-title">如何使用</h2>
      <div class="cell-content">
        <div class="clearfix">
          <pre class="sh_html">
//水平选项卡
&lt;div&nbsp;class=&quot;e-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项4&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br />&lt;/div&gt;
          </pre>
          <div class="tab-demo1">
            <div class="e-tab">
              <ul>
                <li class="current">选项1</li>
                <li>选项2</li>
                <li>选项3</li>
                <li>选项4</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <pre class="sh_html">
//竖直选项卡
&lt;div&nbsp;class=&quot;e-vertical-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br />&lt;/div&gt;
          </pre>
          <div class="tab-demo1">
            <div class="e-vertical-tab">
              <ul>
                <li class="current">选项1</li>
                <li>选项2</li>
                <li>选项3</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <pre class="sh_html">
//标签选项卡
&lt;div&nbsp;class=&quot;e-label-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项4&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br />&lt;/div&gt; 
          </pre>
          <div class="tab-demo1">
            <div class="e-label-tab">
              <ul>
                <li class="current">选项1</li>
                <li>选项2</li>
                <li>选项3</li>
                <li>选项4</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>