<article id="ui-tab" class="mod-doc tab-demo">
  <header>
    <h1 class="title">ui-tab:选项卡样式</h1>
  </header>
  <div class="content">
    <section class="overview">
      <h2 class="cell-title">介绍</h2>
      <div class="cell-content">
        选项卡的基本样式。   <a href="/js/#ui-tabs"><strong>结合tab插件使用</strong></a> 
      </div>
    </section>
    <section class="how">
      <h2 class="cell-title">如何使用</h2>
      <div class="cell-content">
        <div class="clearfix">
          <pre class="sh_html">
//水平选项卡
&lt;ul&nbsp;class=&quot;e-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项4&lt;/li&gt;<br />&lt;/ul&gt;
          </pre>
          <div class="tab-demo-box">
            <ul class="e-tab">
              <li class="current">选项1</li>
              <li>选项2</li>
              <li>选项3</li>
              <li>选项4</li>
            </ul>
          </div>
        </div>
        <div class="clearfix">
          <pre class="sh_html">
//竖直选项卡
&lt;ul&nbsp;class=&quot;e-vertical-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项4&lt;/li&gt;<br />&lt;/ul&gt;
          </pre>
          <div class="tab-demo-box">
            <ul class="e-vertical-tab">
              <li class="current">选项1</li>
              <li>选项2</li>
              <li>选项3</li>
              <li>选项4</li>
            </ul>
          </div>
        </div>
        <div class="clearfix">
          <pre class="sh_html">
//标签选项卡
&lt;ul&nbsp;class=&quot;e-label-tab&quot;&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;current&quot;&gt;选项1&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项2&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项3&lt;/li&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;选项4&lt;/li&gt;<br />&lt;/ul&gt;
          </pre>
          <div class="tab-demo-box">
            <ul class="e-label-tab">
              <li class="current">选项1</li>
              <li>选项2</li>
              <li>选项3</li>
              <li>选项4</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>