                  <article id="ui-back-to-top" class="mod-doc">
                    <header>
                        <h1 class="title">ui-back-to-top:回到顶部</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                页面侧边方便用户回到页面顶部的功能
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_javascript">
$.use('ui-back-to-top',function(){});</pre>
                            </div>
                        </section>
                        <section class="demo">
                            <div class="cell-content">
                                <a target="_blank" class="btn btn-large btn-danger" href="/demo/back-to-top.html" title="演示demo">demo</a>
                            </div>
                        </section>
                    </div>
                  </article>