                  <article id="ui-html" class="mod-doc">
                    <header>
                        <h1 class="title">ui-html:HTML基本结构</h1>
                    </header>
                    <div class="content">
                        <section class="overview">
                            <h2 class="cell-title">介绍</h2>
                            <div class="cell-content">
                                HTML的基本结构。
                            </div>
                        </section>
                        <section class="how">
                            <h2 class="cell-title">如何使用</h2>
                            <div class="cell-content">
                                <pre class="sh_html">&lt;!DOCTYPE html&gt
&lt;!--[if lt IE 7 ]&gt &lt;html class=&quot;ie ie6&quot;&gt &lt;![endif]--&gt
&lt;!--[if IE 7 ]&gt    &lt;html class=&quot;ie ie7&quot;&gt &lt;![endif]--&gt
&lt;!--[if IE 8 ]&gt    &lt;html class=&quot;ie ie8&quot;&gt &lt;![endif]--&gt
&lt;!--[if gte IE 9 ]&gt    &lt;html class=&quot;ie&quot;&gt &lt;![endif]--&gt
&lt;!--[if !(IE)]&gt&lt;!--&gt &lt;html&gt &lt;!--&lt;![endif]--&gt
    &lt;head&gt
        &lt;meta charset=&quot;utf-8&quot;/&gt;
        &lt;title&gt;淘数据安全卫士&lt;/title&gt;
        &lt;meta name=&quot;description&quot; content="淘数据权限管理系统"/&gt;
        &lt;meta name=&quot;keywords&quot; content="淘数据安全卫士,权限管理"/&gt;
        &lt;!--[if IE]&gt;
            &lt;script src=&quot;http://a.tbcdn.cn/apps/tdata/js/base/html5-reset.js&quot;&gt;&lt;/script&gt;
        &lt;![endif]--&gt;
        &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;http://a.tbcdn.cn/apps/tdata/css/global/general.css&quot;/&gt;
        &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/css/page/XXX.css&quot;/&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header id=&quot;header&quot;&gt;
            &lt;!-- 页头 --&gt;
        &lt;/header&gt;
        &lt;div id=&quot;content&quot;&gt;
            
        &lt;/div&gt;
        &lt;footer id=&quot;footer&quot;&gt;
            &lt;!-- 页尾 --&gt;
        &lt;/footer&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;http://a.tbcdn.cn/apps/tdata/js/lib/beast/merge-v2.0.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
                            </div>
                        </section>
                    </div>
                  </article>